*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-family: Arial, sans-serif;
}

body{
    padding: 20px;
    background-image: url("../img/fondo.jpg");
    text-align: center;
    position: relative; 
    min-height: 100vh; 
    padding-bottom: 100px; 
}

header h1{
    background: white;
    width: 85%;
    margin: 20px auto;
    border: 8px solid #cde738;
    text-align: center;
    color: #cde738;
    padding: 15px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 0;

}

article{
    background: white;
    border: 6px solid #0b2fd3;

    width: 90%;
    max-width: 800px; 
    padding: 25px; 
    text-align: left;
}

article h2{
    color: #0b2fd3;
    margin-top: 20px; 
    margin-bottom: 10px;
}


article h2:first-child {
    margin-top: 0;
}


article ul {
    padding-left: 40px; 
    margin-bottom: 20px;
}

article ul li {
    margin-bottom: 10px; 
    line-height: 1.5; 
}


article img {
    max-width: 100%; 
    height: auto;
    border-radius: 8px; 
    margin: 20px 0; 
}


footer{
    clear: both;
    text-align: center;
    font-weight: bold;
    color: black;
    background: white;
    border: 6px solid #cde738;
    padding: 10px;
    width: 90%;
    max-width: 800px; 

  
    position: absolute;
    bottom: 20px; /
    left: 0;
    right: 0;
    margin: 0 auto; 
}